# Manning liveProject - Task 2 - Adding Latitude and Longitude Coordinates

In [1]:
# Import required libraries
import pandas as pd
import geonamescache
import re
import unidecode

# Load data from headlines.txt

In [2]:
# Read all headlines and put those into Pandas dataframe
df = pd.read_fwf('headlines.txt')

# Name that column as Headlines
df.columns = ['headlines']

# Get Cities and Countries

In [3]:
# Initialize genamescache
gc = geonamescache.GeonamesCache()

countries = [country['name'] for country in gc.get_countries().values()]
cities = [city['name'] for city in gc.get_cities().values()]

# Remove Accent Marks and sort values by length

In [4]:
country_accent_mapping = {unidecode.unidecode(country): country for country in countries}
unaccented_countries = set(country_accent_mapping.keys())
unaccented_countries = sorted(unaccented_countries, key=lambda x: len(x), reverse=True)

city_accent_mapping = {unidecode.unidecode(city): city for city in cities}
unaccented_cities = list(city_accent_mapping.keys())
unaccented_cities = sorted(unaccented_cities, key=lambda x: len(x), reverse=True)


df['headlines'] = df['headlines'].apply(lambda x: unidecode.unidecode(x))

# Constructing the Regular Expression

In [5]:
city_regex = re.compile(r'\b|\b'.join(unaccented_cities))
country_regex = re.compile(r'\b|\b'.join(unaccented_countries))

# Functions to get country, city and longitude/latitude

In [6]:
def getCountry(value):
    result = country_regex.search(value)
    
    if result:
        return result.group(0)
    return ''
    
def getCity(value):
    result = city_regex.search(value)
    if result:
        temp = result.group(0)
        return temp
    return ''

def getLocation(value):
    location = {}
    if value:
        location_list = [val for val in gc.get_cities_by_name(value)]
        if location_list and len(location_list) > 0:
            for record in location_list:
                list_keys = record.keys()
            
                for key in list_keys:                    
                    location_val = record[key]
                    location['countrycode'] = location_val['countrycode']
                    location['latitude'] = location_val['latitude']
                    location['longitude'] = location_val['longitude']
        else:
            location['countrycode'] = ''
            location['latitude'] = ''
            location['longitude'] = ''
        
    else:
        location['countrycode'] = ''
        location['latitude'] = ''
        location['longitude'] = ''
    return location

def getData(value):
    data = {}
    country = getCountry(value)
    city = getCity(value)
    if city:
        location = getLocation(city)
        data['countrycode'] = location['countrycode']
        data['latitude'] = location['latitude']
        data['longitude'] = location['longitude']
    else:
        location = ''
        data['countrycode'] = ''
        data['latitude'] = ''
        data['longitude'] = ''
        
    data['country'] = country
    data['city'] = city
    data['headlines'] = value
    return data

In [7]:
# df['countries'] = df['headlines'].apply(lambda x: getCountry(x))
# df['cities'] = df['headlines'].apply(lambda x: getCity(x))
# df = df.apply(lambda x: getLocation(x))

list_data = []
for index, val in df.iterrows():
    list_data.append(getData(val['headlines']))
    
df_new = pd.DataFrame(list_data)
df_new

,countrycode,latitude,longitude,country,city,headlines
0,US,40.7143,-74.006,,New York City,Could Zika Reach New York City?
1,US,25.7906,-80.13,,Miami Beach,First Case of Zika in Miami Beach
2,BR,-8.05389,-34.8811,Brazil,Recife,"Mystery Virus Spreads in Recife, Brazil"
3,US,44.9193,-123.317,,Dallas,Dallas man comes down with case of Zika
4,UY,-33.5165,-56.8996,,Trinidad,Trinidad confirms first Zika case
5,US,29.7633,-95.3633,,Houston,Zika Concerns are Spreading in Houston
6,,,,,Geneve,Geneve Scientists Battle to Find Cure
7,US,33.749,-84.388,,Atlanta,The CDC in Atlanta is Growing Worried
8,,,,,Sao Paulo,Zika Infested Monkeys in Sao Paulo
9,US,40.6609,-73.9201,,Brownsville,Brownsville teen contracts Zika virus
10,US,38.6273,-90.1979,,St. Louis,Mosquito control efforts in St. Louis take new...
11,US,26.1892,-98.1553,,San Juan,San Juan reports 1st U.S. Zika-related death a...
12,US,29.3013,-94.7977,,Galveston,"Flu outbreak in Galveston, Texas"
13,PH,14.6042,120.982,,Manila,"Zika alert aEUR"" Manila now threatened"
14,PH,10.6969,122.564,,Iloilo,Zika afflicts 7 in Iloilo City
15,US,34.0522,-118.244,,Los Angeles,New Los Angeles Hairstyle goes Viral
16,,,,,,Louisiana Zika cases up to 26
17,US,28.5383,-81.3792,,Orlando,Orlando volunteers aid Zika research
18,,,,,,Zika infects pregnant woman in Cebu
19,US,41.85,-87.65,,Chicago,Chicago's First Zika Case Confirmed
20,US,27.9475,-82.4584,,Tampa,Tampa Bay Area Zika Case Count Climbs
21,US,43.0125,-83.6875,,Flint,"Bad Water Leads to Sickness in Flint, Michigan"
22,US,39.2904,-76.6122,,Baltimore,Baltimore plans for Zika virus
23,GB,51.5085,-0.12574,,London,London Health Unit Tracks Mad Cow Disease
24,VN,10.823,106.63,Vietnam,Ho Chi Minh City,Zika cases in Vietnam's Ho Chi Minh City surge
25,US,39.9523,-75.1638,,Philadelphia,Philadelphia experts track pandemic
26,US,42.3584,-71.0598,,Boston,Flu season hits Boston
27,US,33.6609,-95.5555,,Paris,Scientists in Paris to look for answers
28,US,32.7157,-117.165,,San Diego,Key Zika Findings in San Diego Institute
29,TH,13.754,100.501,Thailand,Bangkok,Thailand-Zika Virus in Bangkok
...,...,...,...,...,...,...
619,US,37.0299,-76.3452,,Hampton,How to Avoid Chikungunya in Hampton
620,,,,,Sao Jose,Zika Reported in Sao Jose
621,US,41.1845,-73.1332,,Stratford,Case of Norovirus Reported in Stratford
622,US,41.6834,-86.25,,South Bend,How to Avoid Hepatitis E in South Bend
623,ZA,-28.2308,28.3071,,Bethlehem,Hepatitis C Outbreak in Bethlehem
624,US,41.5236,-90.5776,,Davenport,Davenport is infested with Dengue
625,CN,31.3041,120.595,,Suzhou,Rumors about Swine Flu spreading in Suzhou hav...
626,US,41.3684,-82.1077,,Elyria,Malaria Vaccine is now Required in Elyria
627,,,,,,Zika case reported in Antioquia
628,GE,41.6941,44.8337,,Tbilisi,Case of Swine Flu Reported in Tbilisi
629,,,,,,Chikungunya has not Left Pismo Beach
630,,,,,,Zika spreads to La Joya
631,US,36.7284,-76.585,,Suffolk,Influenza Keeps Spreading in Suffolk
632,US,40.6084,-75.4902,,Allentown,More people in Allentown are infected with Chl...
633,US,42.9465,-71.5159,,Bedford,Mad Cow Disease re-emerges in Bedford
634,CN,29.3151,120.077,,Yiwu,Authorities are Worried about the Spread of He...
635,PE,-5.90181,-76.1223,,Yurimaguas,Zika Outbreak in Yurimaguas
636,US,40.6884,-75.2207,,Easton,Dengue Outbreak in Easton
637,US,34.1322,-84.3007,,Milton,Varicella has Arrived in Milton
638,ES,37.3828,-5.97317,,Sevilla,New medicine wipes out Meningitis in Sevilla
639,US,34.4048,-103.205,,Clovis,Authorities are Worried about the Spread of Va...
640,US,32.7254,-97.3208,,Fort Worth,More Zika patients reported in Fort Worth
641,US,26.5253,-80.0664,,Boynton Beach,Zika symptoms spotted in Boynton Beach
642,EC,-1.05458,-80.4544,,Portoviejo,Outbreak of Zika in Portoviejo
643,OM,23.5841,58.4078,,Muscat,Influenza Exposure in Muscat
644,IL,31.769,35.2163,,Jerusalem,Rumors about Rabies spreading in Jerusalem hav...
645,PH,14.1953,120.877,,Indang,More Zika patients reported in Indang
646,FJ,-18.1416,178.441,,Suva,Suva authorities confirmed the spread of Rotav...
647,US,36.4807,-94.2713,,Bella Vista,More Zika patients reported in Bella Vista
648,US,33.9137,-98.4934,,Wichita Falls,Zika Outbreak in Wichita Falls